<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
    <h1><%= postDetail.title %></h1>
    <section id="post-meta">
      <address><%= postDetail.author.name %></address> | <time datetime="<%= postDetail.date %>"><%= postDetail.readableDate %></time>
    </section>
    <hr>
    <section>
      <p id="body"><%= postDetail.content %></p>
    </section>
  </main>
</body>

</html>